@import "~antd/dist/antd.css";


.ant-input {
  background: #31343E !important;
  border: 1px solid #31343E !important;
  border-radius: 10px;
  height: 30px;
  outline: none;
  color: white;
  font-weight: bold;
}

.ant-form-item-explain.ant-form-item-explain-error {
  color: white;
}

.ant-form label {
  color: white;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before  {
  display: none;
}